.vitrine{
    display: flex;
    justify-content: center;
    margin: auto;  
    width: 100%;
    max-width: 1140px;  
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.vitrine .title{
    margin: 20px 0;
    text-align: center;
}

.vitrine ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    list-style-type: none;  
    row-gap: 50px;
    column-gap: 100px;
    
}

.vitrine img{
    width: 300px;
    border-radius: 10px;
    border: 2px solid #333;
}

.vitrine li{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.vitrine li text{
    font-size: 20px;
    font-weight: 500;
    max-width: 300px;
    
}

@media (max-width: 1139px){

    .vitrine ul{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 719px){
    .vitrine ul{
        grid-template-columns: 1fr;
    }
}