@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    font:400 14px 'Notable', sans-serif;
    background-color: #f0f0ff;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea{
    font:400 18px 'Notable', sans-serif;

}

button{
    cursor: pointer;
}