.dimensions{ 
    width: 1140px;
    margin: auto;
}

.dimensions .each-slide {
    margin-left: 20px;
}

.dimensions .each-slide div{
    width: 1140px;
    height: 295px;
}

.dimensions .each-slide span{
    display:none
}


@media (max-width: 1139px){
    .dimensions{ 
        width: 980px;
    }

    .dimensions .each-slide div{
        width: 980px;
    }

}

@media (max-width: 980px){

    .dimensions{ 
        width: 500px;
        margin: auto;
    }

    .dimensions .each-slide div{
        width: 500px;
    }

}

@media (max-width: 500px){

    .dimensions{ 
        width: 400px;
        margin: auto;
    }

    .dimensions .each-slide div{
        width: 400px;
    }

}

@media (max-width: 400px){
    .dimensions{ 
        width: 300px;
        margin: auto;
    }

    .dimensions .each-slide div{
        width: 300px;
    }

}